.navbar-inverse, .bg-primary {
  background-color: #c0a6ff!important;
}
.bg-primary{
  color: #000 !important;
}
.line-blue, .line-blue-cen{
  border-color: #c0a6ff!important;
}
.text-primary, .list-check li:before{
  color: #c0a6ff!important;
}
.navbar-nav li a:hover { /*kolor czcionki po najechaniu myszką*/
  color: #fff !important;
}
.btn-primary,
.btn-primary a{
  background-color: transparent;
  border-color: #c0a6ff;
  color: #000;
}
.btn-primary:hover,
.btn-primary:hover a,
.btn-primary:focus,
.btn-primary:focus a,
.btn-primary:active:hover,
.btn-primary:active:hover a{
  background-color: #c0a6ff;
  border-color: #c0a6ff;
  color: #fff;
}
.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #fff !important;
}
