/* >>> COLORS & FONT <<< */
@import url('https://fonts.googleapis.com/css?family=Hind&subset=latin-ext');

body {
    font-family: 'Hind', sans-serif;
    background-color: #fff;
    position: relative;
    font-size: 16px;
}

p {
    font-size: 16px;
}

.primary {
    color: #abebeb;
}

.text-primary {
    color: #abebeb;
}

.bg-primary {
    background-color: #abebeb;
    color: #333;
}

.bg-color-bright {
    background-color: #f6f6f4;
    padding-top: 25px;
    padding-bottom: 25px;
}

.bg-color-white {
    background-color: #fff;
    padding-top: 25px;
    padding-bottom: 25px;
}

.bg-color-white-slider {
    background-color: #fff;
}

.text-muted {
    color: #333;
}

/* >>> MARGIN <<< */
.servises {
    margin-top: 25px;
    margin-bottom: 25px;
}

.margin-text-servises {
    padding-top: 15px;
    padding-bottom: 15px;
}

/* >>> LINE <<< */
.line-blue {
    border-color: #abebeb;
    width: 12%;
    margin: 25px 0px 25px 0px;
    border-width: 2px;
}

.line-blue-center {
    border-color: #abebeb;
    width: 12%;
    margin: 25px auto 25px auto;
    border-width: 2px;
}

/* >>> BUTTON <<< */
.btn {
    border-radius: 25px;
    min-width: 130px;
    border: 2px solid transparent;
    font-weight: 600;
    margin: 20px 0px 20px 0px;
}

.btn-primary,
.btn-primary a {
    background-color: transparent;
    border-color: #abebeb;
    color: #333;
}

.btn-primary:hover,
.btn-primary:hover a,
.btn-primary:focus,
.btn-primary:focus a,
.btn-primary:active:hover,
.btn-primary:active:hover a {
    background-color: #abebeb;
    border-color: #abebeb;
    color: #fff;
    text-decoration: none;
}

.btn-slider {
    border-radius: 25px;
    border: 2px solid;
    padding-top: 0px;
    padding-bottom: 0px;
    margin: 2% 0px 2% 0px;
    font-size: 24px;
    font-weight: normal;
}

@media (max-width: 800px) {
    .btn-slider {
        font-size: 18px;
    }
}

@media (max-width: 600px) {
    .btn-slider {
        font-size: 14px;
    }
}

@media (max-width: 350px) {
    .btn-slider {
        font-size: 12px;
    }
}

/* >>> NAVBAR BRAND & BUTTON <<< */
.navbar-brand {
    padding: 10px 10px;
}

.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
    background: transparent !important;
}

.navbar .navbar-toggle {
    border-color: transparent !important;
    background-color: transparent !important;
}

.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #fff;
}

/* >>> NAVBAR <<< */
.navbar-inverse {
    background-color: #abebeb;
    border-color: #fff;
}

.navbar {
    font-family: 'Hind', sans-serif;
    text-transform: uppercase;
    margin-bottom: 0;
    border: 0;
    font-size: 13px !important;
    letter-spacing: 2px;
    opacity: 1;
    color: #fff;
    -webkit-box-shadow: 0px 6px 30px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 6px 30px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 6px 30px 0px rgba(0, 0, 0, 0.1);
    -webkit-transition: all 0.35s;
    -moz-transition: all 0.35s;
    transition: all 0.35s;
}

.navbar li a,
.navbar .navbar-brand {
    /* font color before mouseover */
    color: #000 !important;
}

.navbar-nav li a:hover {
    /* font color when you hover the mouse */
    color: #fff !important;
}

.navbar-nav li.active a {
    color: #fff !important;
}

.navbar .navbar-toggle {
    /* background color after selecting a submenu */
    border-color: #222;
    background-color: black;
}

.open .dropdown-toggle {
    /* color after selecting the menu */
    color: #fff;
    background-color: transparent !important;
}

.dropdown-menu li a {
    /* submenu font color */
    color: #000 !important;
}

.dropdown-menu li a:hover {
    /* submenu font color on hover */
    color: #abebeb !important;
    background-color: transparent;
}

.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:focus .navbar-inverse .navbar-nav>.active>a:hover {
    background-color: transparent !important;
    color: #abebeb !important;
}

/* >>> NAVBAR ANIMATION <<< */
.navbar.affix {
    background-color: #abebeb;
}

.navbar-fixed-top {
    position: relative;
}

@media (min-width:768px) {
    .navbar.affix-top {
        background-color: transparent;
        color: #fff !important;
        padding: 15px;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }

    .navbar.affix-top .nav>li>a,
    .navbar.affix-top .nav>li>a:focus {
        color: #000 !important;
        font-weight: 800;
    }

    .navbar.affix-top .nav>li>a:hover {
        color: #abebeb !important;
    }

    .navbar-fixed-top {
        position: fixed !important;
    }
}

#portfolio {
    padding-top: 50px;
    margin-top: -50px;
    -webkit-background-clip: content-box;
    background-clip: content-box;
}

/* slider portfolio 
.carousel-inner-potfolio {
    height:100% !important;
  }
  .zdjecia-portfolio{
    -webkit-filter: blur(0px) !important;
    -moz-filter: blur(0px) !important;
    -o-filter: blur(0px) !important;
    -ms-filter: blur(0px) !important;
    filter: blur(0px) !important;
  }
  .zdjecia-portfolio-pion{
    max-height: 500px !important;
    width: auto!important;
  }
  .zdjecia-portfolio-galeria{
    max-width: 100%;
  }
  */

/* >>> SLIDER <<< */
.carousel-inner img {
    background-color: rgba(255, 255, 255, 1);
    -webkit-filter: blur(6px);
    -moz-filter: blur(6px);
    -o-filter: blur(6px);
    -ms-filter: blur(6px);
    filter: blur(6px);
    width: 100%;
    /* Set width to 100% */
    margin: auto;
}

.carousel-inner {
    height: 100vh;
}

.carousel-caption {
    color: #000 !important;
    /* h3 */
    padding-bottom: 30%;
    text-shadow: none;
}

.carousel-caption h3 {
    font-size: 3.5em !important;
    text-shadow: 2px 2px 2px rgba(150, 150, 150, 0.5);
}

@media (max-width: 1300px) {
    .carousel-inner {
        height: 100vh;
    }
}

@media (max-width: 1300px) {
    .carousel-inner {
        height: 100%;
    }

    .carousel-caption {
        color: #000 !important;
        /* h3 */
        padding-bottom: 25%;
    }

    .carousel-caption h3 {
        font-size: 3em !important;
        text-shadow: 2px 2px 2px rgba(150, 150, 150, 0.5);
    }
}

@media (max-width: 1100px) {
    .carousel-caption h3 {
        font-size: 2.5em !important;
    }
}

@media (max-width: 800px) {
    .carousel-caption h3 {
        font-size: 2em !important;
    }

    .carousel-caption {
        padding-bottom: 20%;
    }
}

@media (max-width: 600px) {
    .carousel-caption {
        padding-bottom: 14%;
    }

    .carousel-caption h3 {
        font-size: 1.5em !important;
    }
}

@media (max-width: 350px) {
    .carousel-caption {
        padding-bottom: 14%;
    }

    .carousel-caption h3 {
        font-size: 0.7em !important;
    }
}

.carousel-indicators li {
    border: 1px solid #abebeb;
}

.carousel-indicators .active {
    border: 1px solid #abebeb;
    background-color: #abebeb;
}

.carousel-control {
    color: #abebeb;
    display: none;
}

.carousel-control:hover,
.carousel-control:focus {
    opacity: none !important;
}

/* >>> PORTFOLIO <<< */
.portfolio-grid {
    margin-top: 30px !important;
}

#portfolio .portfolio-item {
    margin: 0 0 15px;
    right: 0;
}

#portfolio .portfolio-item .portfolio-link {
    display: block;
    position: relative;
    max-width: 400px;
    margin: 0 auto;
}

#portfolio img {
    border-radius: 10px 10px 10px 10px;
    -webkit-box-shadow: 3px 6px 10px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 3px 6px 10px rgba(0, 0, 0, 0.3);
    box-shadow: 3px 6px 10px rgba(0, 0, 0, 0.3);
}

#portfolio .portfolio-item .portfolio-link .caption {
    background: rgba(171, 235, 235, 1);
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all ease 0.5s;
    -webkit-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
    border-radius: 10px 10px 10px 10px;
}

#portfolio .portfolio-item .portfolio-link .caption:hover {
    opacity: 1;
}

#portfolio .portfolio-item .portfolio-link .caption .caption-content {
    position: absolute;
    width: 100%;
    height: 20px;
    font-size: 20px;
    text-align: center;
    top: 50%;
    margin-top: -12px;
    color: white;
}

#portfolio .portfolio-item .portfolio-link .caption .caption-content i {
    margin-top: -12px;
}

#portfolio .portfolio-item .portfolio-link .caption .caption-content p {
    font-size: 0.6em;
    padding-top: 10px;
}

#portfolio .portfolio-item .portfolio-link .caption .caption-content h3,
#portfolio .portfolio-item .portfolio-link .caption .caption-content h4 {
    margin: 0;
}

#portfolio * {
    z-index: 2;
}

#portfolio .col-sm-4 {
    padding-left: 5px;
    padding-right: 5px;
}

@media (min-width: 767px) {
    #portfolio .portfolio-item {
        margin: 0 0 15px;
    }
}

/* >>> PORTFOLIO LIST <<< */

.list-check svg {
    font-style: normal;
    text-decoration: inherit;
    padding-right: 5px;
    color: #abebeb;
    margin-left: -10px;
}

.list-check {
    list-style-type: none;
}

.list-info span {
    font-weight: bold;
}

/* >>> PORTFOLIO SIDEBAR <<< */
.portfolio-site {
    margin-top: 100px;
    min-height: 650px;
}

.sidebar-portfolio {
    position: sticky;
    width: 450px;
    top: 100px;
}

@media (max-width: 1200px) {
    .sidebar-portfolio {
        position: sticky;
        width: 374px;
        top: 100px;
    }
}

@media (max-width: 994px) {
    .sidebar-portfolio {
        position: relative;
        width: auto !important;
    }
}

/*
.zmianap {
    position: relative !important;
}

@media (max-width: 994px) {
    .zmianap {
        position: relative !important;
        top: auto !important;
    }
}
*/

/* >>> LOGO <<< */
.logo {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    filter: grayscale(100%);
    opacity: 0.6;
}

.logo:hover {
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    -o-filter: grayscale(0%);
    -ms-filter: grayscale(0%);
    filter: grayscale(0%);
    opacity: 1;
}

/* >>> FOOTER <<< */
.circlefoot-area>i {
    padding-right: 10px;
}

.circlefoot-area>a {
    font-size: 16px !important;
}

.footer-1 {
    background: #f6f6f4;
    padding-top: 20px;
    padding-bottom: 20px;
}

.footer-2 {
    padding-top: 20px;
    padding-bottom: 10px;
}

/* >>> OFFER <<< */
.offer {
    margin-top: 50px;
    margin-bottom: 50px;
}

.offer-margin {
    margin-top: 10px;
}

.offer p {
    text-align: justify;
}

.offer h3 {
    text-align: center;
}

.social-o h3,
.list-check-social-o svg {
    color: #b3d2fd;
}

.btn-social,
.btn-social a {
    background-color: transparent;
    border-color: #b3d2fd;
    color: #000;
}

.btn-social:hover,
.btn-social:hover a {
    background-color: #b3d2fd;
    border-color: #b3d2fd;
    color: #fff;
}

.web-o h3,
.list-check-web-o svg {
    color: #cfedeb;
}

.btn-web,
.btn-web a {
    background-color: transparent;
    border-color: #cfedeb;
    color: #000;
}

.btn-web:hover,
.btn-web:hover a {
    background-color: #cfedeb;
    border-color: #cfedeb;
    color: #fff;
}

.graphic-o h3,
.list-check-graphic-o svg {
    color: #eac6d1;
}

.btn-graphic,
.btn-graphic a {
    background-color: transparent;
    border-color: #eac6d1;
    color: #000;
}

.btn-graphic:hover,
.btn-graphic:hover a {
    background-color: #eac6d1;
    border-color: #eac6d1;
    color: #fff;
}

.photo-o h3,
.list-check-photo-o svg {
    color: #95f4ba;
}

.btn-photo,
.btn-photo a {
    background-color: transparent;
    border-color: #95f4ba;
    color: #000;
}

.btn-photo:hover,
.btn-photo:hover a {
    background-color: #95f4ba;
    border-color: #95f4ba;
    color: #fff;
}

/* >>> CONTACT <<< */
/* .container-kontakt {
    background-color: rgba(255, 255, 255, 0.6);
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 10px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.container-kontakt p {
    padding: 15px 15px 15px 15px;
    text-align: justify;
}

.container-kontakt h3 {
    text-align: center;
    padding: 15px 15px 15px 15px;
} */

/* .kontakt-p {
    color: #fff;
    margin: 50px;
    text-align: center;
} */

/* .ikonki-kontakt {
    padding-bottom: 50px;
    padding-top: 50px;
} */

/* @media (max-width: 991px) {
    .ikonki-kontakt {
        padding-bottom: 15px;
        padding-top: 15px;
    }
} */

.img-contact {
    max-width: 100%;
    height: auto;
    width: 100%;
}

.img-text {
    position: absolute;
    top: 200px;
    left: 45%;
    color: #abebeb;
}

.img-text h3 {
    font-size: 3em;
    text-shadow: 1px 1px 1px rgba(150, 150, 150, 0.2);
}

@media (max-width: 1300px) {
    .img-text h3 {
        font-size: 2.5em;
        text-shadow: 1px 1px 1px rgba(150, 150, 150, 0.2);
    }

    .img-text {
        top: 180px;
        left: 45%;
    }
}

@media (max-width: 1100px) {
    .img-text h3 {
        font-size: 2em;
    }

    .img-text {
        top: 120px;
        left: 45%;
    }
}

@media (max-width: 800px) {
    .img-text h3 {
        font-size: 1.5em;
    }

    .img-text {
        top: 100px;
        left: 45%;
    }
}

@media (max-width: 500px) {
    .img-text h3 {
        font-size: 1em;
    }

    .img-text {
        top: 80px;
        left: 45%;
    }
}

@media (max-width: 320px) {
    .img-text h3 {
        font-size: 0.6em;
    }

    .img-text {
        top: 60px;
        left: 45%;
    }
}

/* >>> COOKIE <<< */
#cookieinfo {
    position: fixed;
    font-size: 12px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    background-color: rgba(246, 195, 181, 0.85);
    ;
    padding: 20px;
    box-shadow: 0px -1px 3px rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

#cookieinfo h6 {
    font-size: 16px;
    font-weight: bold;
    color: white;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
    margin-bottom: 7px;
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
}

#cookieinfo p {
    font-size: 12px;
    color: black;
    line-height: 1.5em;
    text-align: justify;
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
}

#cookieinfo a {
    display: block;
    position: absolute;
    right: 20%;
    top: 10px;
    width: 22px;
    height: 22px;
    border-radius: 11px;
    line-height: 22px;
    font-size: 12px;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    background-color: #abebeb;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
}

@media (max-width: 1600px) {
    #cookieinfo a {
        right: 150px;
    }
}

@media (max-width: 1400px) {
    #cookieinfo a {
        right: 10px;
    }
}

#cookieinfo a:hover {
    background-color: #abebeb;
}